# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3

# Media & static (runtime files)
media/
staticfiles/

# IDE
.idea/
.vscode/

# Environment variables
.env

# OS
.Ds_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/